<button class="panel-header">Log In with Facebook</button>

<hr>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.email_field :email, autofocus: true, :class => 'textfield', placeholder: "Email*" %>
  </div>

  <div class="field">
    <%= f.password_field :password, autocomplete: "off", :class => 'textfield', placeholder: "Password*" %>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="checkfield">
      <%= f.check_box :remember_me, :class => 'checkboxfield' %>
      <%= f.label :remember_me %>
    </div>
  <% end -%>

  <div class="actions">
    <%= f.submit "Log in", :class => 'submit' %>
  </div>
<% end %>

<div class="footer">
  <ul class="loginprompt">Don't have a cubicle account?</ul>
  <div class="loginlink">
 <%= render "devise/shared/links" %>
 </div>
 </div>
