<%= form_for @space, html: { multipart: true } do |f| %>
  <% if @space.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@space.errors.count, "error") %> prohibited this space from being saved:</h2>

      <ul>
      <% @space.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label 'Venue name' %><br/>
    <%= f.text_field :name, placeholder: "Enter your venue's name" %>
  </div>

  <div class = "field">
    <%= f.label 'Address'%><br/>
    <%= f.number_field :number, placeholder: "Street Number" %>
  </div>
  <div class = "field">
    <%= f.text_field :street_name, placeholder: "Street Name" %>
  </div>
  <div class = "field">
    <%= f.label :city %><br/>
    <%= f.select :city, ['Toronto', 'Montreal', 'Vancouver'], { :prompt => "Select" }%>
  </div>
  <div class = "field">
    <%= f.label :province %><br/>
    <%= f.select :province, ['AB', 'BC', 'MB','NB','NL','NS','NT','NU','ON','PE','QC','SK','YT'], { :prompt => "Select" }, placeholder: "Please select your province" %>
  </div>
  <div class = "field">
    <%= f.label "postal code" %><br/>
    <%= f.text_field :postal_code, placeholder: "Postal Code" %>
  </div>

  <div class="field">
    <%= f.label :description %><br/>
    <%= f.text_area :description %>
  </div>

  <div class="field">
    <%= f.label :available_desks %><br/>
    <%= f.number_field :available_desks %>
  </div>

  <div class="field">
    <%= f.label 'Price per desk' %><br/>
    <%= f.number_field :price %>
  </div>


  <div id = "upload_pictures" >
    <p>Upload Images</p></br>
    <%= f.fields_for :images do |image| %>
      <%= render 'image_fields', :f => image %>
    <% end %>
    <div class="links">
      <%=link_to_add_association 'Add extra Image', f, :images %>
    </div>
  </br></br>
    <% unless @space.images.blank? %>
      <% @space.images.each do |image| %>
        <div class='imagetags'>
          <%= image_tag image.location_picture.url(:thumb) %>
        </div>
      <% end %>
    <% end %>

  </div>
  <%= f.submit 'Save' %>

<% end %>
