<%= form_for @space, html: { multipart: true } do |f| %>
  <% if @space.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@space.errors.count, "error") %> prohibited this space from being saved:</h2>

      <ul>
      <% @space.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="modal-bodies">


    <div class="modal-body modal-body-step-1 is-showing">
      <%= f.label 'Venue name' %>
      <%= f.text_field :name, placeholder: "Enter your venue's name" %><br/>
      <%= f.text_area :description, placeholder: "Describe your venue" %><br/>
      <button type="button">Start</button>
    </div>



   <div class="modal-body modal-body-step-2">
      <%= f.label 'Address'%><br/>
      <%= f.number_field :number, placeholder: "Number" %>
      <%= f.text_field :street_name, placeholder: "Enter Street Name" %><br/>
      <%= f.label :city %>
      <%= f.select :city, ['Toronto', 'Montreal', 'Vancouver'], { :prompt => "Select" }%>
      <%= f.label :province %>
      <%= f.select :province, ['AB', 'BC', 'MB','NB','NL','NS','NT','NU','ON','PE','QC','SK','YT'], { :prompt => "Select" }, placeholder: "Please select your province" %><br/>
      <%= f.label "postal code" %>
      <%= f.text_field :postal_code, placeholder: "Enter Postal Code" %><br/>
      <button type="button">Next</button>
   </div>



    <div class="modal-body modal-body-step-3">
      <%= f.label :available_desks %>
      <%= f.number_field :available_desks, placeholder: "Enter desks available" %>
      <%= f.label 'Price per desk' %>
      <%= f.number_field :price, placeholder: "Enter price per desk CDN$" %>
      <button type="button">Next</button>
    </div>




    <div class="modal-body modal-body-step-4">
      <div id = "upload_pictures">
        <p>Upload Images</p></br>
        <%= f.fields_for :images do |image| %>
          <%= render 'image_fields', :f => image %>
        <% end %>
        <div class="links">
          <%=link_to_add_association 'Add extra Image', f, :images %>
        </div>
        </br></br>
        <% unless @space.images.blank? %>
          <% @space.images.each do |image| %>
            <div class='imagetags'>
              <%= image_tag image.location_picture.url(:thumb) %>
            </div>
          <% end %>
        <% end %>

        <%= f.submit 'Save Venue' %>
        <% end %>
    </div>
   </div>

</div>
