<h2>home page</h2>


<%# collection_select(:city, :user_id, @spaces,  :id, :description, {:prompt => true}) %>
<select id="city">
    <option value="All">Search All</option>
    <option value="Toronto">Toronto</option>
    <option value="Burlington">Burlington</option>
    <option value="Hamilton">Hamilton</option>
</select>

<select id = 'number-of-desks'>
<% for i in (1..30) %>
  <option value="<%= i %>"><%= i %></option>
<% end %>
</select>

<div id = "search-results"></div>

<div class = 'space-info'>
<% @spaces.each do |space| %>
    <%= space.name %>

    <%= link_to "spaces show page", space_path(space) %><br>
<% end %>
</div>






<%= link_to "add a new space", new_space_path %>
