<%# collection_select(:city, :user_id, @spaces,  :id, :description, {:prompt => true}) %>
<div class = "index-page">
<div class="sort-tools">
  <h2>I'm looking for:</h2>
  <div class="dropdown">
  <select id="number-of-desks">
  <% for i in (1..30) %>
  <% if i == 1  %>
  <option value="<%= i %>"><%= "#{i} Desk "%></option>
  <% else %>
  <option value="<%= i %>"><%= "#{i} Desks "%></option>
  <% end %>
  <% end %>
  </select>
  </div>
  <div id="in" class="dropdown">
    <h2>in</h2>
  </div>
  <div class="dropdown">
    <select id="city">
      <option value="All">All Cities</option>
      <option value="Toronto">Toronto</option>
      <option value="Montreal">Montreal</option>
      <option value="Vancouver">Vancouver</option>
    </select>
  </div>
</div>

<div class="results-container">
  <div id="search-results">
    <div class="space-info">
      <% @spaces.each do |space| %>
        <div class="space-box">
        <%= link_to space_path(space), class: 'show-btn', id: "link1" do %>
            <%= image_tag space.images.first.location_picture.url(:thumb), class: 'front-page-img' if space.images.first  %>
            <% end %>
          <%# space.name %>
          <%# link_to "spaces show page", space_path(space) %><br>
        </div>
      <% end %>
    </div>
  </div>
</div>
</div>
<%= link_to "add a new space", new_space_path %>
