<br><%= "this is the #{@space.name} page" %>
<div class = "desks-requested"></div>

<p>This page will contain all the information on the space that is available, the pictures of the space, google maps location, and the information which we searched</p>

<% @space.images.each do |image| %>
  <%= image_tag image.location_picture.url(:medium) %>
<% end %>

<%= link_to 'Request Reserved Space', new_space_lease_path(@space), remote: true%>

<div id = "new-lease-form"></div>

<%= "remaining desks = #{@remaining_desks}" %>
<br />

<div class="price_each_desk" value="<%= @price_per_desk %>">
<span id='price'><%= @price_per_desk %></span> is the price per desk
</div>

<div class = "total-price">your total:</div>
</div>
