<div class="show-page-image-container">
<div class="my-slider">
  <ul>
    <% @space.images.each do |image| %>
    <li><%= image_tag image.location_picture.url(:original), class: "show-page-image" %></li>
    <% end %>
  </ul>
</div>
</div>




<div class="space-details-container">
<br><h3><%= "#{@space.name}" %></h3>
<p><%= "#{@space.description}" %></p>

<div class = "desks-requested"></div>

<h4><%= "Desks Available: #{@remaining_desks}" %></h4>
<div class="price_each_desk" value="<%= @price_per_desk %>">
<span id='price'>Price per desk: $<span id='pricenumber'><%= @price_per_desk %></span>0 / month</span>
</div>


<% unless !current_user || @space.user.id == current_user.id%>
    <div class="total-price">Your total: $<span id='total-price-value'><%= @price_per_desk %></span>0 / month</div>
  <%= link_to 'Request Reserved Space', new_space_lease_path(@space), remote: true%>

  <br>
<% end %>
<% if current_user && @space.user.id == current_user.id %>

  <%= link_to 'Edit Your Place', edit_space_path(@space)%>
  <% end %>
<div id="new-lease-form"></div>
<p class="notice"><%= notice %></p>
</div>


<div class="map-container">
  <div id="map" style='width: 100%; height: 400px;'></div>
</div>


<script type="text/javascript">
handler = Gmaps.build('Google');
handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
markers = handler.addMarkers(<%=raw @hash.to_json %>);
handler.bounds.extendWith(markers);
handler.fitMapToBounds();
handler.getMap().setZoom(16);
});

</script>
