<h1><%= @user.first_name %> <%= @user.last_name %></h1>

<%= link_to 'back to home page', spaces_path %>

<h3>Owned offices:</h3>
<% @spaces.each do |space| %>
  <%= "Name of company: #{space.name}"%></br>
  <%= "Available_desks: #{space.available_desks}"%></br>
  <%= "Price per desk: #{space.price}" %></br>
  <%= "Address: #{space.name}" %></br>
  <%= link_to 'Edit this Space', edit_space_path(space) %></br>
  <%= link_to "Delete this Space", space_path(space), method: :delete, data: { confirm: 'Are you sure you want to delete this space?'}  %>
<% end %>

<% unless @leases.blank? %>
  <h3>My Pending Leases:</h3>
<% end %>


<% @leases.each do |lease| %>
  <div class="each-lease">
   <span class="space-between-lease">Desks Requested: <strong><%="#{lease.desks}" %></strong></span>
   <span class="space-between-lease">Starting Month: <strong><%="#{lease.month}" %></strong></span>
   Company: <strong><%="#{Space.find(lease.space_id).name}" %></strong>
   <div class="request-status"> Status: <strong><%="#{Status.find(lease.status_id).name}" %></strong> </div>
  </div>
<% end %>


<h3>Pending Leases for my spaces</h3>
<% @spaces.each do |space| %>
  <% unless space.leases.blank? %>
    <h4>Pending Leases for my space <%= space.name %></h2>
  <% end %>
  <% space.leases.each do |lease| %>
    <%= "number of desks: #{lease.desks}" %> </br>
    <%= "starting month: #{lease.month}"  %></br>
    <%= "space name: #{Space.find(lease.space_id).name}" %></br>
    <%= "User description: #{lease.description}" %> <br>
    <span id=<%= lease.id %>>Current Status: <%= lease.status.name %></span></br>
    <% if lease.status.name == 'pending' %>
      <button type="button" name="accept" class="status" id=<%= lease.id %> data-spaceid=<%= space.id %>>Accept</button>
      <button type="button" name="reject" class="status" id=<%= lease.id %> data-spaceid=<%= space.id %>>Reject</button>
    <% end %>
  </br>
  <% end %>
<% end %>
