<ul id="users-list">
  <li>
    <%= @user.first_name + ' ' + @user.last_name %>
    <% if @user.online %>
      <%= image_tag "green_dot.png", id: "#{@user.id}-status", class: "active" %>
    <% else%>
      <%= image_tag "green_dot.png", id: "#{@user.id}-status", class: "inactive" %>
    <% end %>
  </li>
</ul>
<div class="messages">
  <%= render @messages %>
</div>
<%= render partial: "/messages/form", locals: {room: @room, message: @message} %>
