<h1>New lease </h1>
<%= form_for @lease, remote: true do |f| %>
  <% if @lease.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@lease.errors.count, "error") %> prohibited this lease from being saved:</h2>

      <ul>
      <% @lease.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label 'Confirm number of desks' %>
    <%= f.number_field :desks %>
  </div>
    <div class="field">
    <%= f.label 'Confirm start month' %>
    <%= f.number_field :month %>
  </div>

  <div class="actions">
    <%= f.submit class: 'save' %>
  </div>
<% end %>

