<h1>New lease </h1>
<%= form_for [@space, @lease], remote: true do |f| %>
  <% if @lease.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@lease.errors.count, "error") %> prohibited this lease from being saved:</h2>

      <ul>
      <% @lease.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label 'Confirm number of desks' %>
    <%= f.select :desks, (1..20), {}, class: 'confirm-desks' %>
  </div>
    <div class="field">
    <%= f.label 'Select potential start month' %>
    <%= f.select :month, @months.each_with_index.map{|name, index| [name,index + 1]} %>
  </div>

  <div class="actions">
    <%= f.submit class: 'save' %>
  </div>
<% end %>
