<%= form_for [@space, @lease], remote: true do |f| %>
  <% if @lease.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@lease.errors.count, "error") %> prohibited this lease from being saved:</h2>

      <ul>
      <% @lease.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class = "lease-info">
  <div class="field">
    <%= f.label 'Confirm number of desks' %>
    <%= f.select :desks, (1..20), {}, class: 'confirm-desks' %>
  </div>
    <div class="field">
    <%= f.label 'Select potential start month' %>
    <%= f.select :month, @months.each_with_index.map{|name, index| [name,index + 1]} %>
    
  </div>
  <button class = 'add-description-button'>Add description</button>
    
</div>

  <div class = "description" style="display: none">
  <button class = 'back-to-form'>Back To Form</button>

    <div class="field">
      <%= f.text_area :description, placeholder: 'Tell us why you want this space' %>
  </div>
    <div class="actions">
    <%= f.submit class: 'save' %>
  </div>
  <% end %>
    
  </div>


